header div{
    width: 100vw;
    height: 50px;
    background-color: rgb(44, 161, 240);
    padding: 1rem;
}

header > div > span {
    font-weight: bold;
    font-size: 2rem;
}

footer{
    height: 50px;
    background-color: black;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
}